.header-container {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    .logo-image {
        height: 40px;
        width: auto;
    }
}