.header-container {
    // position: fixed;
    // top: 0;
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 0 1rem;
    .header-content {
        width: 100%;
        max-width: 1540px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        .logo-image {
            height: 40px;
            width: auto;
        }
        button {
            background: linear-gradient(90deg, #8da6ff 0%, #38b7fd 52.5%, #8da6ff 100%);
            color: #000;
            font-family: Inter;
            font-weight: 600;
            font-size: 18px;
            border-radius: 4px;
            padding: 7px;

        }
    }
}